<% include partials/header.ejs %>
    <% include partials/nav.ejs %>

        <main class="py-10">
            <div class="text-center">
                <h1 class="text-3xl font-bold">
                    <%= title %>
                </h1>

                <% if (error) { %>
                    <div class="my-4 mx-auto w-48 flex justify-center items-center text-center bg-red-100">
                        <h3 class="py-2 text-l font-semibold">
                            <%= error %>
                        </h3>
                    </div>
                    <% } %>

                        <div class="flex justify-center items-center pt-8">
                            <form method="POST" class="form flex flex-col justify-center text-center">
                                <div class="space-x-2 flex justify-between items-center">
                                    <!-- <input type="hidden" name="id" value="<%= user._id %>"> -->
                                    <label for="usernameField">Username</label>
                                    <input type="text" class="form-control p-2 rounded-lg bg-gray-100 outline-none"
                                        id="usernameField" placeholder="Enter your username" name="username"
                                        value="<%= user.username %>" required>
                                </div>
                                <br />
                                <div class="space-x-2 flex justify-between items-center">
                                    <label for="passwordField">Password</label>
                                    <input type="password" class="p-2 rounded-lg bg-gray-100 outline-none"
                                        id="passwordField" placeholder="Enter your password" name="password"
                                        value="<%= user.password %>" required>
                                </div>
                                <br />
                                <div class="flex justify-center space-x-4">
                                    <button
                                        class="text-xl border-2 border-blue-100 p-2 bg-blue-100 rounded-lg  hover:text-white"
                                        type="submit">
                                        Login
                                    </button>
                                </div>
                            </form>
                        </div>

            </div>
        </main>


        <% include partials/footer.ejs %>