<% include partials/header.ejs %>
    <% include partials/nav.ejs %>

        <main class="container">
            <div class="row text-center">
                <h1 class="text-xl font-bold">
                    <%= title %>
                </h1>

                <% if (error) { %>
                    <div class="my-4 mx-auto w-48 flex justify-center items-center text-center bg-red-100">
                        <h3 class="py-2 text-l font-semibold">
                            <%= error %>
                        </h3>
                    </div>
                    <% } %>

                        <div class="table-responsive flex justify-center items-center pt-8">
                            <form class="form" method="POST" class="flex flex-col justify-center text-center">
                                <div class="form-group space-x-2 flex justify-between items-center">
                                    <input type="hidden" name="id" value="<%= user._id %>">
                                    <label for="nameField">Name</label>
                                    <input type="text" class="form-control p-1 bg-gray-100 outline-none" id="nameField"
                                        placeholder="Enter your name" name="name" value="<%= user.name %>" required>
                                </div>
                                <br />
                                <div class="form-group space-x-2 flex justify-between items-center">
                                    <label for="usernameField">Username</label>
                                    <input type="text" class="form-control p-1 bg-gray-100 outline-none"
                                        id="usernameField" placeholder="Enter your username" name="username"
                                        value="<%= user.username %>" required>
                                </div>
                                <br />
                                <div class="form-group space-x-2 flex justify-between items-center">
                                    <label for="emailField">Email Address</label>
                                    <input type="text" class="form-control p-1 bg-gray-100 outline-none"
                                        id="emailField" placeholder="Enter your email address" name="email"
                                        value="<%= user.email %>" required>
                                </div>
                                <br />
                                <div class="form-group space-x-2 flex justify-between items-center">
                                    <label for="passwordField">Password</label>
                                    <input type="password" class="form-control p-1 bg-gray-100 outline-none"
                                        id="passwordField" placeholder="Enter your password" name="password"
                                        value="<%= user.password %>" required>
                                </div>
                                <br />
                                <div class="flex justify-center space-x-4">
                                    <button class="btn btn-primary p-2 bg-blue-100" type="submit">
                                        <i class="fas fa-edit"></i>
                                        Register
                                    </button>
                                </div>
                            </form>
                        </div>

            </div>
        </main>


        <% include partials/footer.ejs %>