<%- include ../partials/header.ejs %>
    <%- include ../partials/nav.ejs %>

        <div class="container">
            <div class="row flex flex-col justify-center items-center text-center py-6">
                <div class="offset-md-3 col-md-6">
                    <h1 class="text-2xl font-bold p-4">
                        <%= title %>
                    </h1>

                    <form method="POST" class="form flex flex-col justify-center text-center">
                        <div class="form-group space-x-2 flex justify-between items-center">
                            <input type="hidden" name="id" value="<%= blog._id %>">
                            <label for="blogTitleField">Title</label>
                            <input type="text" class="form-control p-1 bg-gray-100 outline-none" id="blogTitleField"
                                placeholder="Enter the Title" name="title" value="<%= blog.title %>" required>
                        </div>
                        <br />
                        <div class="form-group space-x-2 flex justify-between items-center">
                            <label for="blogContentField">Content</label>
                            <textarea name="content" id="blogContentField" rows="4" cols="22"
                                class="form-control p-1 bg-gray-100 outline-none" placeholder="Enter the Content"
                                required><%= blog.content %></textarea>
                        </div>
                        <br />
                        <div class="form-group space-x-2 flex justify-between items-center">
                            <label for="blogTagsField">Tags</label>
                            <input type="text" class="form-control p-1 bg-gray-100 outline-none" id="blogTagsField"
                                placeholder="Enter the tags" name="tags" value="<%= blog.tags %>">
                        </div>
                        <br />
                        <div class="form-group space-x-2 flex justify-between items-center">
                            <label for="blogAuthorField">Author</label>
                            <input type="text" class="form-control p-1 bg-gray-100 outline-none" id="blogAuthorField"
                                placeholder="Enter the Author" name="author" value="<%= blog.author %>" required>
                        </div>
                        <br />
                        <br />
                        <div class="flex justify-center space-x-4">
                            <button class="btn btn-primary p-2 bg-blue-100" type="submit">
                                <i class="fas fa-edit"></i>
                                Submit
                            </button>

                            <a href="/" class="btn btn-warning  p-2 bg-blue-100">
                                <i class="fas fa-undo"></i>
                                Cancel
                            </a>
                        </div>

                    </form>
                </div>

            </div>
        </div>

        </div>
        <%- include ../partials/footer.ejs %>